html {
    scroll-snap-type: y mandatory;
}

body {
    background-image: linear-gradient(rgb(137,207,240), rgb(65,105,225));
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #8AAAE5;
  }
  
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 2vw;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 200, 200);
  }

.scrollsnap {
    scroll-snap-align: start;
}

.title {
    font-family: quicksand;
    font-weight: 400;
    transform: translateX(0vw);
    filter: blur(0vw);
    transition: all .5s ease-in-out;
    @starting-style {
        transform: translateX(-3vw);
        filter: blur(.2rem);
    }
}

.button {
    transform: translateX(0vw);
    transition: all .5s ease-in-out;
    filter: blur(0vw);
    @starting-style {
        transform: translateX(3vw);
        filter: blur(.2rem);
    }
}

.button:hover {
    scale: 1.1;
}

.button:active {
    scale: 1;
}

.font {
    font-family: roboto-slab, serif;
    font-weight: 300;
    font-style: normal;
}

.story-text {
    font-family: quicksand;
    font-weight: 700;
}

.full-height {
    height: 100vh;
}

.padding {
    padding: 20vh 5vw 20vh;
}

.hidden {
    display: none;
}